.nav-items {
    display: flex;
    justify-content: space-between;
    height: 64px;
   padding: 13px;
 
}
.nav-logo{
    width: 139px;
    height: 60px;
    
}


nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(18, 3, 3);
    font-size: 15px;
    transition: 0.3s;
}
nav ul li a:hover {
    color: rgb(8, 144, 45);
}


.nav-btn{
    background-color: #469165;
    height: 44px;
    width: 164px;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 16px 12px 16px ;
    gap: 10px;

    
}
.hero {
    background-image: url(assets/hero-bg.png);
    height: 600px;
    width: fill;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 56px;
}
.hero-content {
    align-items: center;
    text-align: center;
    padding: 48px 88px ;
    gap:32px ;
    
}
.btn-1 {
    height: 35px;
    width: 229px;
    background-color: white;
    border: none;
    color: #469165;
    border-radius:16px ;
    padding:8px 12px 8px 12px ;
    gap: 6px;
 
}
.btn1-logo {

    width: 18px;
    height: 18px;
    border-radius:8px ;
  
}
.btn-hero {
    align-items: center;
    text-align: center;
}
.hero-content  h1 .highlight-1 {
    color: white;
    font-size: 62px;
    font-weight: 700px;
}
.hero-content h1 .highlight-2 {
    color:#469165; 
    font-size: 62px;
      font-weight: 700px;
  
}
.hero-text {
    color: white;
}
.hero-btn-2 {
    display:flex;
    gap: 15px;
    justify-content: center;

}
.btn-2 {
    background-color: #469165;
    color: white;
    border: none;
    height: 52px;
    width: 251px;
    border-radius: 4px;
   justify-content: center;
   align-items: center;
   display: flex;
   gap: 8px;

}
.btn-3 {
     display: flex ; 
     gap: 8px;
    color: white;
    border: none;
    height: 52px;
    width: 251px;
    border-radius: 1px;
    background-color:transparent;
   align-items: center;
   justify-content: center;
   border: 1px solid #ffffff;
}




.note-card {
    width: 220px;
    height: 250px;
    border-radius: 8px;
    padding: 24px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    text-align: center;      
}

.note-img {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 100%;
    object-fit: contain; 
    margin-bottom: 15px; 
    top: 131px;
}

.note-box {
    display: flex;
   
    justify-content: center;
    gap: 20px;
    padding: 24px;
}

.note {
    text-align: center;
    padding: 24px;
}
.highlight {
    color: #469165;
}
.knowlwge-section {
    display: flex;
    justify-items: center;
    justify-content:space-around;
    align-items: center;
    gap: 60px;
}
.knowlege-img {
    height: 600px;
    width: 600px;
    padding: 26px;
}
.know-text{
    font-size: 48px;
    font-style:normal;
    font-weight: bold;
}
.para-1{
   display: flex;
}
.access-section{ 
    justify-items: center;
    color: #F7F6F2;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
     padding: 20px;
     border-radius: 8px;
}
.access-text {
    font-size: 40px;
    font-weight: bold;
    color: black;
    padding: 24px;

}
.para-text {
    color:#627382 ;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 30px 120px;
    gap: 24px;
    background-color: #001931;

}
.footer-img {
    width: 139px;
    height: 60px;
}
.footer-text {
    color: white;
}
.footer-section{
    background-color: #001931;
}
.footer-para{
  color: white;
    justify-content: center;
   padding: 20px;
    display: flex;
}
.center-divider {
    width: 80%;
   

}